
<div class="slideshow-container">


    <div class= "mySlides">
    <div class="numbertext">1 / 3</div>

    <div class="card text-white bg-secondary mb-3" style="max-width: 600px; margin-left: 100px;">
        <div class="row no-gutters">
            <div class="col">           
                <div class="embed-responsive embed-responsive-4by3">
                    <a href = "">
                        <img alt="Card image cap" class="card-img-top embed-responsive-item" 
                        src="https://www.littlewoods.com/assets/static/2021/brandstores/converse/may-update/mobile/04-converse-chucks.jpg">
                    </a>
                </div>

            </div>

            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">Converse</h5>
                    <p class="card-text">New Converse is coming</p>
                    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                </div>
            </div>
        </div>
    </div>

    <div class="text">Lifestyle</div>
    </div>

    <div class="mySlides ">
    <div class="numbertext">2 / 3</div>

        <div class="card text-white bg-secondary mb-3" style="max-width: 600px; margin-left: 100px;">
        <div class="row no-gutters">
            <div class="col">           
                <div class="embed-responsive embed-responsive-4by3">
                    <a href = "">
                        <img alt="Card image cap" class="card-img-top embed-responsive-item" 
                        src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQcIZ4m3nVHUcA9eOxPw0RvC4p1TG7EJgqCSw&usqp=CAU">
                    </a>
                </div>

            </div>

            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">Coverse Pride</h5>
                    <p class="card-text" style="color: rgba(255, 115, 0, 0.925);">[HOT].</p>
                    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                </div>
            </div>
        </div>
    </div>
    <div class="text">Converse in pride month</div>
    </div>

    <div class="mySlides ">
    <div class="numbertext">3 / 3</div>

    <div class="card text-white bg-secondary mb-3" style="max-width: 600px; margin-left: 100px;">
    <div class="row no-gutters">
        <div class="col">           
            <div class="embed-responsive embed-responsive-4by3">
                <a href = "">
                    <img alt="Card image cap" class="card-img-top embed-responsive-item" 
                    src="https://fgl.scene7.com/is/image/FGLSportsLtd/FGL_Vans-S20-Mens-Shoes-C1-350x200?bgColor=0,0,0,0&fmt=png-alpha&wid=350&op_sharpen=1&resMode=sharp2&qlt=85,1">
                </a>
            </div>

        </div>

        <div class="col-md-8">
            <div class="card-body">
                <h5 class="card-title">Vans</h5>
                <p class="card-text">New Style Vans</p>
                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            </div>
        </div>
    </div>
    </div>
    <div class="text">New expensive vans CH</div>
    </div>

    <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
    <a class="next" onclick="plusSlides(1)">&#10095;</a>
</div>

<br>

<div style="text-align:center">
  <span class="dot" onclick="currentSlide(1)"></span> 
  <span class="dot" onclick="currentSlide(2)"></span> 
  <span class="dot" onclick="currentSlide(3)"></span> 
</div>




<div class="btn-group">
  <button type="button" class="btn btn-info dropdown-toggle btn-sm" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Orderby
  </button>
  <div class="dropdown-menu">
    <a class="dropdown-item"  href="/home/?orderby=price-desc">Giá từ Cao xuống Thấp</a>
    <a class="dropdown-item" href="/home/?orderby=price-incr">Giá từ Thấp lên Cao</a>
    <div class ="dropdown-item">
        <form action="">
            <input type="hidden" name="orderby" value="price-desc">
            <input type="submit" value="Giá từ cao xuống thấp">
        </form>
    </div>

    <div class ="dropdown-item">
        <form action="">
            <input type="hidden" name="orderby" value="price-incr">
            <input type="submit"  value="Giá từ thấp lên cao">
        </form>
    </div>
  </div>
</div>


{{!-- <form method="get" action = "/home/">
    <select name="orderby" class = "orderby" aria-label="Đơn của của hàng" >
        <option type="submit" value = "price-desc">Từ cao xuống thấp</option>
        <option type="submit" value = "price-incr">Từ thấp lên cao</option>
    </select>
    <input type="hidden" name="s" value="2021">
</form> --}}



<div class="mt4">
    <div class="row">
        {{# if session.passport.user }}

            {{# each products}}
                {{# isExits this._id ../liked }}
                    <div class="col-sm-6 col-lg-4">
                        <div class="card border-dark mb-2 card-courses-item">
                            <div class="embed-responsive embed-responsive-4by3">
                                <a href = "/product/{{this._id}}">
                                    <img alt="Card image cap" class="card-img-top embed-responsive-item" src="{{this.image}}">
                                </a>
                            </div>
                            <div class="card-body">
                                <a href = "/product/{{this._id}}">
                                    <h5 class="card-title">{{this.name}}</h5>
                                </a>
                                <p class="card-text">{{this.description}}</p>

                                {{# notzero this.discount}}
                                    <h6 style="color:rgba(164, 156, 168, 0.911)"> <del>$ {{this.price}}</del></h6>
                                    <h4 style="color:rgb(255, 102, 0)">$ {{minus this.price this.discount}}</h4>
                                {{else}}
                                    <h6 style = "color:rgba(255, 255, 255)">Chưa có giảm giá :v</h6>
                                    <h4 style="color:rgb(255, 102, 0)">$ {{this.price}}</h4>
                                {{/notzero}}

                                <a href="/add-to-cart/{{this._id}}" class="btn btn-primary">Buy</a>
                                <a href="/user/liked/{{this._id}}" class="btn btn-outline-success">Like</a>
                            </div>
                        </div>
                    </div>
                {{else}}
                    <div class="col-sm-6 col-lg-4">
                        <div class="card border-dark mb-2 card-courses-item">
                            <div class="embed-responsive embed-responsive-4by3">
                                <a href = "/product/{{this._id}}">
                                    <img alt="Card image cap" class="card-img-top embed-responsive-item" src="{{this.image}}">
                                </a>
                            </div>
                            <div class="card-body">
                                <a href = "/product/{{this._id}}">
                                    <h5 class="card-title">{{this.name}}</h5>
                                </a>
                                <p class="card-text">{{this.description}}</p>

                                {{# notzero this.discount}}
                                    <h6 style="color:rgba(164, 156, 168, 0.911)"> <del>$ {{this.price}}</del></h6>
                                    <h4 style="color:rgb(255, 102, 0)">$ {{minus this.price this.discount}}</h4>
                                {{else}}
                                    <h6 style = "color:rgba(255, 255, 255)">Chưa có giảm giá :v</h6>
                                    <h4 style="color:rgb(255, 102, 0)">$ {{this.price}}</h4>
                                {{/notzero}}

                                <a href="/add-to-cart/{{this._id}}" class="btn btn-primary">Buy</a>
                                <a href="/user/unliked/{{this._id}}" class="btn btn-success">Like</a>
                            </div>
                        </div>
                    </div>
                {{/isExits}}
            {{/each}}

        {{ else }}
            {{#each products}}
            <div class="col-sm-6 col-lg-4">
                <div class="card border-dark mb-2 card-courses-item">
                    <div class="embed-responsive embed-responsive-4by3">
                        <a href = "/product/{{this._id}}">
                            <img alt="Card image cap" class="card-img-top embed-responsive-item" src="{{this.image}}">
                        </a>
                    </div>

                    <div class="card-body">
                        <a href = "/product/{{this._id}}">
                            <h5 class="card-title">{{this.name}}</h5>
                        </a>
                        <p class="card-text">{{this.description}}</p>

                        {{# notzero this.discount}}
                            <h6 style="color:rgba(164, 156, 168, 0.911)"> <del>$ {{this.price}}</del></h6>
                            <h4 style="color:rgb(255, 102, 0)">$ {{minus this.price this.discount}}</h4>
                        {{else}}
                            <h6 style = "color:rgba(255, 255, 255)">Chưa có giảm giá :v</h6>
                            <h4 style="color:rgb(255, 102, 0)">$ {{this.price}}</h4>
                        {{/notzero}}

                        
                        <a href="/add-to-cart/{{this._id}}" class="btn btn-primary">Buy</a>
                        <a href="/user/liked/{{this._id}}" class="btn btn-outline-success">Like</a>
                    </div>
                </div>
            </div>
            {{/each}}
        {{/if}}

    </div>
</div>


<script>
var slideIndex = 1;
showSlides(slideIndex);

function plusSlides(n) {
  showSlides(slideIndex += n);
}

function currentSlide(n) {
  showSlides(slideIndex = n);
}

function showSlides(n) {
  var i;
  var slides = document.getElementsByClassName("mySlides");
  var dots = document.getElementsByClassName("dot");
  if (n > slides.length) {slideIndex = 1}    
  if (n < 1) {slideIndex = slides.length}
  for (i = 0; i < slides.length; i++) {
      slides[i].style.display = "none";  
  }
  for (i = 0; i < dots.length; i++) {
      dots[i].className = dots[i].className.replace(" active", "");
  }
  slides[slideIndex-1].style.display = "block";  
  dots[slideIndex-1].className += " active";
}
</script>
