<div class="mt4">
    <h3>Hình ảnh của tôi</h3>

    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">STT</th>
                <th scope="col">Tên</th>
                <th scope="col">Mô tả</th>
                <th scope="col">Thời gian tạo</th>
                <th scope="col"></th>
            </tr>
        </thead>

        <tbody>
            {{#each products}}
                <tr>
                    <th scope="col">{{ sum @index 1}}</th>
                    <td scope="col">{{this.name}}</th>
                    <td scope="col">{{this.description}}</th>
                    <td scope="col">{{this.createdAt}}</th>
                    <td>
                        <a href="/product/{{this._id}}/edit", class="btn btn-link">Sửa</a>
                        <a href="" class="btn btn-link" data-toggle="modal" data-id= {{this._id}} data-target="#delete_data_model" >Xóa</a>
                    </td>
                </tr>
            {{/each}}
        </tbody>

    </table>
</div>

{{!-- Confirm del --}}
<div id="delete_data_model" class="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Xóa hình ảnh ?</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Bạn có chắc muốn xóa hình ảnh này ?</p>
      </div>
      <div class="modal-footer">
        <button id="button-delete-image" type="button" class="btn btn-danger">Xóa bỏ</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Hủy</button>
      </div>
    </div>
  </div>
</div>

{{!-- image hidden form delete --}}
<form name = "delete_data_form" method="POST"></form>

{{!-- khi sự kiện DOMContentLoad đc nap vào trình duyeet (cả JQuery) thì mới thực hiện đoạn code  --}}
<script>
    
    document.addEventListener('DOMContentLoaded', function() {
        var id
        var deleteForm = document.forms["delete_data_form"]
        $('#delete_data_model').on('show.bs.modal', function (event) {
        var button = $(event.relatedTarget) 
        id = button.data('id') 
  
        })

        var btnDeleteImage = document.getElementById("button-delete-image")

        btnDeleteImage.onclick = function(){
            deleteForm.action = '/product/' + id + '?_method=DELETE'
            deleteForm.submit()

        }
        
    })

</script>